@import "node_modules/pure-css/lib/base";
@import "node_modules/pure-css/lib/grids";
@import "node_modules/pure-css/lib/forms";
@import "node_modules/pure-css/lib/menus";
@import "node_modules/pure-css/lib/buttons";
@import "node_modules/rc-slider/assets/index";


button, input {
  margin: 10px 0 0;
   width: 100%;
 }

#app {
  margin: 10px 10px 0;
  .slider { margin: 35px 0 0; }
  .header { margin: 0 0 35px; }
  .status {
    color: #31708f;
    padding: 10px 0 0;
    font-weight: bold;
    text-transform: capitalize;
   }
}
